<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Search feature.

This feature contains a large set of search renderings that enable users to build complex search pages. 

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register patch:instead="*[@serviceType='Sitecore.XA.Feature.Search.Controllers.SearchController, Sitecore.XA.Feature.Search']" serviceType="Platform.Pipelines.XASearchOverrideController, Platform" implementationType="Platform.Pipelines.XASearchOverrideController, Platform" lifetime="Transient"/>
        </services>
		<pipelines>
			<initialize>
				<processor patch:instead="processor[@type='Sitecore.XA.Feature.Search.Pipelines.Initialize.InitializeRouting, Sitecore.XA.Feature.Search']"
				   type="RegisterRoutes, Platform" />
			</initialize>
		</pipelines>
    </sitecore>
</configuration>